---
import { type CollectionEntry, getCollection } from "astro:content";
import BaseHead from "~/components/BaseHead.astro";
import dayjs from "dayjs";
import relativeTime from "dayjs/plugin/relativeTime";
import "dayjs/locale/id";

dayjs.extend(relativeTime);

export async function getStaticPaths() {
  const chords = await getCollection("chord");
  return chords.map((chord) => ({
    params: { slug: chord.slug },
    props: chord,
  }));
}
type Props = CollectionEntry<"chord">;

const chord = Astro.props;
const { Content } = await chord.render();
---

<html lang="en">
  <head>
    <BaseHead title={chord.data.title} description={"Kumpulan Text aja"} />
  </head>
  <body
    transition:animate="fade"
    class="bg-gray-900 text-white scrollbar-thin scrollbar-track-gray-900 scrollbar-thumb-white"
  >
    <main class="container mx-auto mt-10 pb-5 px-2">
      <div class="flex flex-col items-center justify-center w-full mb-10">
        <h1 class="font-bold text-5xl">{chord.data.title}</h1>
        <h2 class="capitalize text-xl text-gray-300 mb-4">
          {dayjs().to(dayjs(chord.data.pubDate))}
        </h2>
        <img src={chord.data.img} class="rounded-xl" />
      </div>
      <article class="prose lg:prose-2xl max-w-none tracking-widest">
        <Content />
      </article>
    </main>
  </body>
</html>
