---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BaseHead from "~/components/BaseHead.astro";
import TailIn from "~/components/svg/tail-in.astro";
import TailOut from "~/components/svg/tail-out.astro";
import Checkcheck from "~/components/svg/check-check.astro";
import DalamkotakSvg from "~/components/icon/DalamkotakLogo.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={"Frequenly Asked Question"}
      description={"Intinya QnA lah"}
    />
  </head>
  <body
    transition:animate="slide"
    class="bg-gray-950 scrollbar-thin scrollbar-track-gray-950 scrollbar-thumb-white"
  >
    <div
      class="flex flex-col min-h-screen mx-auto relative container bg-gray-950 text-white"
    >
      <!-- Lower -->
      <div class="flex flex-1 overflow-hidden relative">
        <div class="flex flex-col flex-1 relative">
          <!-- Navigation -->
          <header
            class="h-16 py-2 px-2 md:px-4 flex items-center z-20 fixed container mx-auto w-full bg-gray-800"
          >
            <a href="/" class="p-1 hover:bg-gray-900 rounded-full">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-chevron-left"
                ><path d="m15 18-6-6 6-6"></path></svg
              >
            </a>

            <div
              class="h-10 w-10 mx-3 rounded-full flex items-center justify-center text-white bg-gray-600"
            >
              <DalamkotakSvg className="w-8 h-8" />
            </div>
            <p class="flex grow">Frequenly Asked Question</p>
          </header>

          <!-- Scrollable Content -->
          <div
            class="bgchat flex flex-1 relative p-2 md:p-8 pt-20 overflow-x-hidden overflow-y-auto"
          >
            <div class="flex-auto">
              {
                Array.from({ length: 25 }, (_, i) => i).map(() => (
                  <>
                    <div class="flex items-center justify-start">
                      <div class="relative w-max mb-2">
                        <span class="tail-in text-gray-900">
                          <TailIn />
                        </span>
                        <div class="chat-in rounded-lg bg-gray-900 relative">
                          Halloo
                          <div class="float-right text-[11px] text-gray-400 mt-3 ml-2 mr-0 relative">
                            21:30
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="flex items-center justify-end">
                      <div class="relative w-max mb-5">
                        <span class="tail-out text-indigo-500">
                          <TailOut />
                        </span>
                        <div class="chat-out rounded-lg bg-indigo-500">
                          Hallo Juga
                          <div class="float-right text-[11px] text-gray-200 mt-3 ml-2 mr-0 relative">
                            <div class="flex items-center">
                              <div class="mr-0.5">21:30</div>
                              <span>
                                <Checkcheck />
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </>
                ))
              }
            </div>
          </div>
        </div>
      </div>
    </div>
    <style>
      body {
        background-color: black;
      }

      .bgchat::before {
        content: "";
        background-image: url("/bg-chat.png");
        background-repeat: repeat;
        background-attachment: fixed;
        background-position: center;
        opacity: 0.2;
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }

      span.tail-in {
        position: absolute;
        top: 0;
        left: -8px;
        z-index: 10;
        display: block;
        width: 8px;
        height: 13px;
      }

      .chat-in {
        border-radius: 8px;
        border-top-left-radius: 0;
        padding: 5px 10px;
      }

      span.tail-out {
        position: absolute;
        top: 0;
        right: -8px;
        z-index: 10;
        display: block;
        width: 8px;
        height: 13px;
      }

      .chat-out {
        border-radius: 8px;
        border-top-right-radius: 0;
        padding: 5px 10px;
      }
    </style>
  </body>
</html>
