---
import BaseHead from "../components/BaseHead.astro";
import dayjs from "dayjs";
import relativeTime from "dayjs/plugin/relativeTime";
import "dayjs/locale/id";
import { Icon } from "astro-icon/components";

dayjs.extend(relativeTime);
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={"Kunci Gitar"} />
  </head>
  <body class="bg-gray-950 text-white p-2 flex flex-col flex-1 h-screen">
    <main class="flex gap-4 flex-1">
      <slot />
    </main>
  </body>
</html>
